

/* Estilos tabla album*/
body {
	margin:0px;
	background: black;
}

nav {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4pt;



}
nav ul 
	{list-style: none;
		padding: 0;
		margin: 0px;
}

nav li {
	line-height: 3rem;
	position: relative;


}
nav li ul{
	position: absolute;

}
nav a {
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition: .4s;

}
nav a:hover {
	background: rgba(0,0,0,.5);
}




/* Primer Nivel */
nav > ul {
	background: none;
	display: left;
	width: 100%;
}
nav > ul > li {
	float: left;
}

#TITULO{
	
	font-family: 'Alegreya SC', serif;
	font-size: 25pt;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 59px;
	color: white;
	float: left;

}
/* Segundo Nivel */

nav li li {
	background: #222;
	max-height: 0;
	overflow: hidden;
	transition:  all .5s;
	width: 200px;

}

nav li:hover > ul >li {
	max-height: 1000%;
	overflow: visible;
}

nav > ul >li > ul {
	top: 100%;
	font-size: 8pt;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2pt;
}
/* iconos */

#iconos {

	color: white;
    font-size: 20pt;
    float: right;
    margin-right: 0px;
    margin-top: 10px;

}

.fab {
	float: right;
	padding-right: 30px;

}
/* fondo */

.bannerHero {
	height: 800px;
	width: 100%;
	display: inline-block;
	background-image: url(../img/fondo2.jpg);
	background-position: cover;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
	
}

#encabezado {
    margin-top: 440px;
    text-shadow:3px 4px 4px #000000;
    padding-right: 100px;
    font-size: 50pt;
    line-height: 8pt;
    color: white;
    text-align: right;
    font-family: 'Alegreya SC', serif;
}

#subtitulo {

    margin-top: -17px;
    text-shadow: 3px 4px 4px #000000;
    padding-top: 0px;
    padding-right: 103px;
    font-size: 13pt;
    line-height: 11pt;
    letter-spacing: 4pt;
    color: white;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}




/* Estilo Historia*/




.separador {
	height: 20px;
	width: 100%;
	display: block;
	background-color: black;
}

#contenedor {
	background: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;

	
}


#titulohisto {

	text-align: center;
    margin-top: 0px;
    color: #474747;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    padding-top: 30px;
    letter-spacing: 13pt;
    margin-left: -110px;
    margin-right: -110px;
}

#txt1 {
	height: 400px;
	width: 400px;
	text-align: justify;
	padding-top: 140px;

}

#txt2 {
	height: 400px;
	width: 400px;
	text-align: justify;
	padding-top: 140px;
}



article p {

    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
 
}

#conthist1 {
	height: 400px;
	width: 400px;
}


#conthist2 {
	height: 400px;
	width: 400px;
}


#imghistoria1 {
    background: url(../img/historia1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 230px;
    border-radius: 9px;
    border: 2px solid black;
    margin: 220px 0px 0px 65px;
	transform: rotate(-4deg);
	   
}

#imghistoria2 {
	background: url(../img/historia2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: opacity;
    height: 330px;
    width: 230px;
    border-radius: 9px;
    border: 2px solid black;
    margin: 220px 0px 0px 65px;
    transform: rotate(4deg);
	
}

/* Estilos Discografia*/
.discos img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.discos {
	background: #ECE2C6;
    width: 100%;
    height: 800px;
    margin: auto;
    padding-right: 10px;
    
}


.discos h5 {
	text-align: center;
    color: #4A1F0F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    padding-top: 50px;
    margin-bottom: -5px;
    letter-spacing: 13pt;
    margin-top: 0px;
}

.discos h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
	text-align: center;
	padding-left: 5px;
	color: #4A1F0F;
	margin-bottom: 20px;
	text-align: center;
	
}

section ol {
	font-family: 'Raleway', sans-serif;
	font-size: 13pt;
	color: #4A1F0F;
}

.contdiscos {
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap;

}

.item {
	width: 20%;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    flex: 1 1 20%;
    margin-left: 34px;
    padding-right: 34px;
}

.albumimg {
	transition: all 0.5s;
	opacity: 1;
}

.textodisco {
	position: absolute;
	bottom: 25px;
	padding-right: 14px;
	font-size: 9pt;
	font-family: 'Raleway', sans-serif;
	transform: translateY(150%);
	transition: all 0.5s ease-out;
	
}

.item:hover .textodisco {
	transform: translateY(0%);
}

.item:hover .albumimg {
	transform: scale(1.10);
	opacity: 0.3;
}


/* Estilos Video*/


#contenedor2 {
	height: 580px;
	width: 100%;
	background-color: black;
	margin: 0px;
}

content div h4 {
	text-align: center;
    color: white;
    font-family: 'Alegreya SC', serif;
    font-size: 30pt;
   	margin-top: 40px;
  
}

content div h5 {
	text-align: center;
  	margin-top: -70px;
    color: white;
    font-family: 'Alegreya SC', serif;
    font-size: 30pt;
}

#video {
	float: right;
	height: 150px;
	width: 100px;
	margin-right: 370px;
}




/* Estilos Grid*/

@media only screen and (min-width: 1024px) {
   .container {
       grid-template-columns: repeat(3, 1fr);
   }
   .box-1 {
     grid-column: 1 / span 3;
     grid-row: 1 / 2;
   }
   .box-2 {
     grid-column: 1 / span 3;
     grid-row: 2 / 3;
   }
     .box-3 {
     grid-column: 1 / 3;
     grid-row: 3 / 6;
   }
  
   .box-4 {
     grid-column: 3 / 4;
     grid-row: 3 / 6;
   }

   .box-5 {
     grid-column: 1 / 4;
     grid-row: 6 / 7;
   }

}



.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(6, 100px);
    grid-gap:1rem;
    grid-template-areas: "box1 box1 box1"  "box2 box3 box4" ". box5 .";
}



.box-1 {
		grid-area: box1;
		background-color:red;
}
.box-2 {
		grid-area: box2;
		background-color:violet;
}
.box-3 {
		grid-area: box3;
		background-color:green;
}
.box-4 {
		grid-area: box4;
		background-color:yellow;
}
.box-5 {
		grid-area: box5;
		background-color:lightgray;
}

